<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thecodefire.attendancemonitor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/loginpic"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/loginpic"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceMonitor"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".PasswordReset"
            android:exported="false" />
        <activity
            android:name=".ViewStudentForLecturer"
            android:exported="false" />
        <activity
            android:name=".ManuallyMarkAttendance"
            android:exported="false" />
        <activity
            android:name=".StudentAuthentication"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:label="Admin Dashboard" />
        <activity
            android:name=".ViewFacultyActivity"
            android:exported="false"
            android:label="Faculty List" />
        <activity
            android:name=".DownloadAttendanceActivity"
            android:exported="false"
            android:label="Download Attendance" />
        <activity
            android:name=".AddFacultyActivity"
            android:exported="false"
            android:label="Add Faculty" />
        <activity
            android:name=".ViewAttendanceActivity"
            android:exported="false"
            android:label="View Attendance" />
        <activity
            android:name=".TakeAttendanceActivity"
            android:exported="false"
            android:label="Take Attendance" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:label="Lecturer DashBoard" />
        <activity
            android:name=".ViewStudentActivity"
            android:exported="false"
            android:label="Students List" />
        <activity
            android:name=".AddStudentActivity"
            android:exported="false"
            android:label="Add Student" />
        <activity
            android:name=".MarkMyAttendance"
            android:exported="false"
            android:label="Mark My Attendance" />
        <activity
            android:name=".LecturerDashboard"
            android:exported="false"
            android:label="Manage Attendance" />
        <activity
            android:name=".StudentDashboard"
            android:exported="false"
            android:label="Student Dashboard" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false"
            android:label="Register Yourself" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>